---
title: Events List
---
%h1= current_resource.data.title

%h5 Immune Modulation and Engineering Symposium (IMES)
%ul
  %li= link_to "Official Symposium Website", "https://biomed.drexel.edu/immunesymposium"

%h5 Past Events
%p
  %em Dec 9-10, 2021
  %br
  %strong 3rd Annual Immune Modulation and Engineering Symposium
%ul
  %li= link_to "2021 Program Agenda [PDF]", "https://biomed.drexel.edu/immunesymposium/pdf/IMES2021%20Brochure_v15.pdf"
= image_tag "FGLUz_0UYAQUdOX.jpeg", alt: "3rd Annual Immune Modulation and Engineering Symposium 2021", style: "margin-bottom: 4em;"

%p
  %em Nov 11-13, 2020
  %br
  %strong 2nd Annual Immune Modulation and Engineering Symposium
%ul
  %li= link_to "2020 Program Agenda [PDF]", "https://biomed.drexel.edu/immunesymposium/pdf/Immune%20Modulation%20and%20Engineering%20Symposium%20(IMES)%202020%20Agenda.pdf"

= image_tag "imes-email-banner.jpg", alt: "2nd Annual Immune Modulation and Engineering Symposium 2020", style: "margin-bottom: 4em;"

%p
  %em Oct 16, 2019
  %br
  %strong Inaugural Annual Immune Modulation and Engineering Symposium
%ul
  %li= link_to "2019 Program Agenda [PDF]", "https://biomed.drexel.edu/media/event-gallery/2019/IMES-Program-Web.pdf"
  %li= link_to "Event Photo Gallery", "https://biomed.drexel.edu/media/event-gallery/2019/ime-symposium.html"

= link_to "https://biomed.drexel.edu/media/event-gallery/2019/ime-symposium.html" do
  = image_tag "gallery.png", alt: "1st Annual Immune Modulation and Engineering Symposium 2019", style: "margin-bottom: 4em;"