---
layout: two-columns-left-nav
title: Faculty Overview
---
%h1 Faculty
- data.faculty.each do |f|
  .row
    .large-12.columns
      %img{:src => f.img, :class => "left", :alt => f.name, :style => "width: 150px;"}
      %h5
        = f.name
      %p
        %em
          = f.title
          %br
          = f.affil
      %p
        %strong
          = link_to "Email", "mailto:" + f.email
        %br
        %strong= link_to "Faculty Profile", f.profile
        %br
        %strong= link_to "Lab Website", f.lab
      .clearfix
      %p
        %strong Biosketch
      %p
        = f.bio

  %hr  