---
layout: "home"
title: "Home"
---

%ul.bxslider
  %li= image_tag "slides-3.png", title: "Meet the Team <br><a class=\"more-link\" href=\"#{config[:http_prefix]}faculty/overview\">Faculty</a>"
  %li= image_tag "slides-1.png", title: "News and Publications <br><a class=\"more-link\" href=\"#{config[:http_prefix]}news/recent\">Recent News</a>"
  %li= image_tag "slides-4.png", title: "Upcoming and Past Events <br><a class=\"more-link\" href=\"#{config[:http_prefix]}events/list\">Events List</a>"
  %li= image_tag "slides-2.png", title: "About <br><a class=\"more-link\" href=\"#{config[:http_prefix]}about/contact\">Contact</a>"

%h3 Supporting convergent research <br>in translational immunology and engineering 
.big-text
  %p.big-text 
    Our mission is to bring together researchers and leaders from academia, industry, medicine, and government, and to leverage diversity in background, ideas, perspectives, expertise, and approaches, to advance understanding, modulation, and engineering of the immune system for the betterment of human health.

  %p.big-text 
    %strong Drexel Immune Modulation and Engineering Collaborative (IMEC)
    is a cross-campus effort, spearheaded by:  
.row{style: "margin-bottom: 4em;"}
  .large-4.columns
    %a{:href => "https://drexel.edu/biomed"}
      = image_tag "biomed-blue-black-primary-png.png", alt: "Drexel Biomed"
  .large-4.columns
    %a{:href => "https://drexel.edu/medicine"}
      = image_tag "com-blue-black.png", alt: "Drexel Medicine"
  .large-4.columns
    %a{:href => "https://drexel.edu/engineering"}
      = image_tag "engineering-blue-black-primary-png.png", alt: "Drexel Engineering"

= partial "partials/email-signup"

